project:
  type: website
  output-dir: docs
  render:
      - "*.qml"
      - "!conda_env/"

website:
  title: "CS 1671/2071 Human Language Technologies, Spring 2026"
  navbar:
    left:
      - href: index.qmd
        text: Home

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true



